astropy
cycler                    # via matplotlib
kiwisolver                # via matplotlib
matplotlib
numpy
pyparsing                 # via matplotlib
python-dateutil           # via matplotlib
six                       # via cycler, python-dateutil
